.header{
	padding: 15px;
}

.header .row h2{
	align-self:center;
}


.footer {
	background-color:#2A67C7;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
}
